<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceFolder" value="Your Source Folder path" />
		<add key="DestinationFolder" value="Your Destination Folder path" />
		<add key="DocExtensions" value=".doc,.docx" />
		<add key="PdfExtensions" value=".pdf" />
		<add key="ExcelExtensions" value=".xls,.xlsx" />
		<add key="CsvExtensions" value=".csv" />
		<add key="TxtExtensions" value=".txt" />
		<add key="ImageExtensions" value=".jpg,.jpeg,.png,.gif" />
	</appSettings>
	<connectionStrings>
		<add name="FileMoveHistoryDB" connectionString="Data Source=YourServerName;Initial Catalog=YourDBname;Integrated Security=True" />
	</connectionStrings>
</configuration>
